.typing-effect {
  border-right: 0.1em solid black; /* 커서 효과를 위한 세로선 */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #4f4a45;
}

.deleting {
  animation: blink-caret 0.75s step-end infinite;
}

.highlight {
  color: #f99417;
  font-weight: 500;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: max-content;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
